{% extends 'base.html' %}  <!--extends 를 이용하여 basecopy.html 에 저장할 html 문서 -->

{% block content %}
    <div class = "text-center mw-500 m-auto">  <!--bootstrap 에서 제공해주는 class-->
        <div class = "m-5"> <!--margin 5-->

            <h4>{{ target_user.username }}</h4> {# views 에서 선언한 타킷 유저로 접근 한다 #}
        </div>
        <div>
            {{ target_user.date_joined }} {# views 에서 선언한 타킷 유저로 접근 한다 #}
        </div>
        {% if user == target_user%} {# 유저와 == target 유저 가 같은지 확인 비회원인 상태에서 정보 변경 불가를 위해 #}
        <div>
            <a href = "{% url 'accountapp:update' pk=target_user.pk %}"> {#detail 정보 보기 에서  -> 정보 수정 링크를 만들어주는게 자연스러움#}
                Update Info
            </a>
            <a href = "{% url 'accountapp:delete' pk=target_user.pk %}">
                Quit
            </a>
        </div>
    {% endif %}
    </div>

{% endblock %}