{% extends 'base.html' %} <!--base.html 을 가져와서 사용하겠고 바꾸고 싶은것은 블록 안에서 정한다-->

{% block content%}
    <style>
    .testing{
        background-color: yellow;
        height:48px; {# 48px = 3em #}
        width : 48px;
        margin: 1rem;
        border-radius: .5rem;
        display: inline-block;
    }
    </style>

    <div style="height: 20rem; background-color: aqua;margin: 2rem; border-radius: 1rem; font-size: 2rem"> <!--body 를 제외하고 나머지는 include 처리-->
        <h1>Hello World</h1>
        <div class = "testing" style ="height:48px; width:48px;" ></div>
        <div class = "testing" style ="height:3rem; width:3rem;" ></div>
        <div class = "testing" style ="height:3em; width:3em;" ></div>
        <div class = "testing" style ="height:30%; width:30%;" ></div>

    </div>
{% endblock %}