{% extends 'base.html' %} <!--base.html 을 가져와서 사용하겠고 바꾸고 싶은것은 블록 안에서 정한다-->

{% block content%}
    </style>

    <div style="margin: 2rem; text-align: center;"> <!--body 를 제외하고 나머지는 include 처리-->
        <h1>METHOD</h1>
         <!-- 단순 변수 출력은  중괄호 두개 이다두개이다 -->
        <!--객체 안의 text 를 출력 -->
    <form action = "/accounts/hello_world/" method = "post">
        {% csrf_token %}     <!-- 웹 해킹 csrf 예방  post 요청시 필수-->

        <input type = "text" name = "input">
        <input type = "submit" class="btn btn-dark rounded-pill px-5">     <!-- post 할 트리거 요청 -->

    </form> <!--post 요청 -->
        {% for data in data_list %} <!--반복문으로 가져오기 -->
    <h3>{{data.text}}</h3>
    {% endfor %} <!-- for문의 마침을 꼭 해야함 -->
    </div>
{% endblock %}