        <div class="text-center my-5">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary rounded-pill">
                {{ page_obj.previous_page_number }}
                </a>

            {% endif %}
            <a href="#" class="btn btn-dark rounded-pill"> {# # 넣으면 다른 페이지로 안가고 현재 페이지로 가는걸 설정 #}
                {{ page_obj.number }}
            </a>

            {%if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary rounded-pill">{#get방식으로 넘기는 데이터의 시작부분 ? / 다음페이지가 있으면  가지고 있는 다음 페이지로 넘어가라#}
                    {{ page_obj.next_page_number }}
                </a>
            {% endif %}
        </div>
