{% extends 'base.html' %}
{% block content %}
<div class = "container text-center">     {# container = bootstrap class text-center 중앙정렬 #}
    <div class="my-5"> {# y축 마진 확보 #}
        {# 게시글 제목 글쓴이 작성 일자#}
        <h1 class="NNS_B">{{ target_article.title}}</h1>
        <div class="my-3">
            <a href="{% url 'likeapp:article_like' article_pk=target_article.pk %}" class="material-icons" style="vertical-align: middle; font-size: 1.4rem; color: #f77" >
                favorite {# vertical-allgn:middle 수직 정렬을 중간으로 수정  #}
            </a>
            <span style="vertical-align: middle; font-size: 1.2rem">
                {{ target_article.like }}
            </span>
        </div>
        <h4>{{ target_article.writer.profile.nickname }}</h4>   {# 프로필에 닉네임을 가져와야함 writer 는 게시글의 프로필 닉네임 을 사용하니까 #}
        <p>{{ target_article.created_at }}</p>
    </div>

    <hr>
    <div class="my-5">
        {# 게시글 내용 게시글 이미지#}
        <img src = "{{ target_article.image.url }}"
             class="article_image"
             alt = "" >
        <div class="article_content my-5">
        {{ target_article.content | safe }} {# 작성한 내용이 실제 저장이 html 태그들이 있는데 태그들을 다뺴고 적용한다. #}
        </div>
        {% if target_article.writer == user %}
            <div>
            <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-success rounded-pill px-5">
                Update
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill px-5">
                Delete
            </a>
        </div>
        {% endif %}
    </div>
    <hr>


    <div class="text-center my-4">
        {% for comment in target_article.comment.all%} {# 1대 다 관계 에 있는 모든 댓글을 가져온다 #}
            <div class="comment_box">
                <div>
                    {# 댓글 작성자와 작성 시간 #}
                    <span class="NNS_B" style="font-size: 1.4rem">
                        {{ comment.writer.profile.nickname }}
                    </span>
                    <span>{{ comment.created_at }}</span>
                </div>
                <div>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
                {% if comment.writer == user %}
                <div style="text-align: right">
                    <a href="{% url 'commentapp:delete' pk=comment.pk %}" class="btn btn-danger rounded-pill px-5">
                        Delete
                    </a>
                </div>
                {% endif %}
            </div>

        {% endfor %}
        {% include 'commentapp/create.html'%}
    </div>
</div>

{% endblock %}